body{
	background-color:#FCD4FF;
	color:#17202A;
}

p{
	font-size: 20px;
	font-style:unset;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
	font-size: 45px;
	background-color:plum;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav a {
text-decoration: none;
padding: 10px 20px;
border-radius: 10px;
background-color: lightpink;
color: black;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin-right: 30px;
}
nav a:hover{
	
	background-color: black;
	color: lightpink;	
}
section{
	display:inline-block;
	width:33%;

}
.instagram{
	display:block;
	float:right;
}
.facebook{
	display:block;
	float:right;
}
main{
	display: flex;
	flex-wrap: wrap;
}
section img{
	width: 90%;
	height: 90%;
}
header{
	
	display: flex;
	flex-wrap: wrap;
}